<div style="margin-top:10px;">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-10 col-md-offset-2"  style="border:1px solid #ddd;">
				  
		    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
            <fieldset>
            <legend>Edit Customer Profile</legend>
					<div class="form-group">
					  <label for="email">Email address:</label>
					  <input type="email" formControlName="email" placeholder="Email" name="email" class="form-control" id="email">
                       <div *ngIf="editForm.controls.email.invalid && editForm.controls.email.touched" class="text-danger">
                          <small *ngIf="editForm.controls.email.errors.required">Email address is required.</small>
                          <small *ngIf="editForm.controls.email.errors.email">Email must be a valid email address.</small>
                        </div>
                    </div>

					<div class="form-group">
					  <label for="firstName">First Name:</label>
					  <input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
                      <div *ngIf="editForm.controls.firstName.invalid && editForm.controls.firstName.touched" class="text-danger">
                          <small *ngIf="editForm.controls.email.errors.required">First name is required.</small>
                      </div>
                    </div>

					<div class="form-group">
					  <label for="lastName">Last Name:</label>
					  <input formControlName="lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
                       <div *ngIf="editForm.controls.lastName.invalid && editForm.controls.lastName.touched" class="text-danger">
                          <small *ngIf="editForm.controls.lastName.errors.required">Last name is required.</small>
                       </div>
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber">Phone Number</label>
                        <input formControlName="phoneNumber" placeholder="Phone" name="phoneNumber" class="form-control" id="phoneNumber" required>
                         <div *ngIf="editForm.controls.phoneNumber.invalid && editForm.controls.phoneNumber.touched" class="text-danger">
                                <small *ngIf="addForm.controls.phoneNumber.errors.required">Phone number is required.</small>
                         </div>
                    </div>

                    <div class="form-group">
                        <label for="address">Address</label>
                        <input formControlName="address" placeholder="Address" name="address" class="form-control" id="address" required>
                        <div *ngIf="editForm.controls.address.invalid && editForm.controls.address.touched" class="text-danger">
                                    <small *ngIf="editForm.controls.address.errors.required">Address is required.</small>
                        </div>
                    </div>
            
                <button class="btn btn-success" [disabled] = "!editForm.valid">Update</button>
                </fieldset>
			</form>
            </div>
        </div>
    </div>
</div>
</div>

